@cardBorder: 3px solid @grayLight;

.card-color(@color) {
  .card-data, .selected {
    background-color: @color;
    color: @white;
  }
  .selected {
    font-weight: bold;
  }
}

.card {

  border: @cardBorder;
  .border-radius(5px);
  line-height: 30px;
  margin-bottom: 10px;

  .title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .description {
    display: block;
    font-size: 14px;
  }

  .card-schedule {

    border-bottom: @cardBorder;

    span {
      border-left: @cardBorder;
      display: inline-block;
      margin-left: -4px;
      width: 20%;
      
      &:first-child {
        margin-left: 0px;
        border-left: none;
      }
    }
  }

  .price {
    border-left: @cardBorder;
    margin-left: 0px;
  }

}

.card-data {
  padding: 5px 0px;
  border-bottom: @cardBorder;
  line-height: 20px;
}

.card-data-large {
  height: 73px;
}

// refrescate

.sevillanas {
  .card-color(#eda04f);
}

.sevillanas-pro {
  .card-color(#78aadb);
}

.zumba {
  .card-color(#00b28c);
}

@media (min-width: 768px) and (max-width: 979px) {
  
  .card {
    .card-schedule span {
      width: 20.1%;
      margin-left: -5px;
    }
  }

}

@media (max-width: 767px) {
  
  .card {
    .card-schedule span {
      width: 19.8%;
    }

    .price {
      border-left: none;
    }
  }

}