@cardBorder: 3px solid @grayLight;

.card-color(@color) {
  .card-data {
    background-color: @color;
    color: @white;
  }
  .card-schedule {
    background-color: @color;

    :not(.selected) {
      background-color: @white;
    }
  }
  .selected {
    font-weight: bold;
    color: @white;
  }
}

.card {

  border: @cardBorder;
  .border-radius(5px);
  line-height: 30px;
  margin-bottom: 10px;

  .title {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .description {
    display: block;
    font-size: 14px;
  }

  .card-schedule {

    border-bottom: @cardBorder;

    span {
      border-left: @cardBorder;
      display: inline-block;
      margin-left: -4px;
      width: 19%;
      
      &:first-child {
        margin-left: 0px;
        border-left: none;
      }

    }

  }

  .price {
    border-left: @cardBorder;
    margin-left: none;
  }

}

.card-data {
  padding: 5px 0;
  border-bottom: @cardBorder;
  line-height: 20px;
}

.card-data-large {
  height: 60px;
}

// refrescate

.sevillanas {
  .card-color(#eda04f);
}

.sevillanas-pro {
  .card-color(#78aadb);
}

// cursos
.tonificacion {
  .card-color(#eda04f); 
}

.latin-fitness {
  .card-color(#78aadb);
}

.zumba {
  .card-color(#00b28c);
}

.danza-oriental {
  .card-color(#772d35);
}

@media (max-width: 767px) {
  
  .card {
    .card-schedule span {
      width: 19.6%;
    }

    .price {
      border-left: none;
    }
  }

}