.schedule {
  
  th, td {
    text-align: center;
    vertical-align: middle;
  }

  th {
    background-color: @grayDark;
    color: @white;
    font-weight: bold;
    text-transform: uppercase;
  }
  td:not(:first-child) {
    padding: 0;
  }
  .title {
    display: block;
    font-weight: bold;
  }
  .instructor {
    display: block;
    font-size: 85%;
  }
  .price {
    display: block;
    font-weight: bold; 
  }

  [class*="curso"] {
    padding: 8px;
  }

  .lunchtime {
    height: 8px;
    border-top: 1px solid #ddd;
    &> td {
      padding: 0;
    }
  }

  .curso1 {
    background-color: #f4921e;
  }
  .curso2 {
    background-color: #e3db9a;
  }

  .curso3 {
    background-color: #b1c2b3;
  }

  .curso4 {
    background-color: #AAB4BB;
  }
  .curso5 {
    background-color: #c7b773;
  }
  .curso6 {
    background-color: #c5d2db;
  }

}
