@logoHeight: 70px;

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  
  .navbar-links {
    padding-top: @logoHeight / 2;
  }

  a {
    cursor: pointer;
    color: @black;
    text-decoration: none;
    margin: 0 5px;
  }
}

.logo {
  background: url('../img/logo_tda.png') no-repeat;
  background-size: contain;
  float: left;
  margin: 8px 20px 0 0;
  text-indent: 100%;
  overflow: hidden;
  height: @logoHeight;
  width: 162px;
}