@logoHeight: 70px;

.navbar {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  
  .navbar-links {
    padding-top: @logoHeight / 2 - 6px;
  }

  a {
    cursor: pointer;
    color: #2B67C2;
    margin: 0 5px;
  }
}

.logo {
  background: url('../img/logo_tda.png') no-repeat;
  background-size: contain;
  display: block;
  text-indent: 100%;
  overflow: hidden;
  height: @logoHeight;
  width: 162px;
}